@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2016-05-07 09:41:11 
 * @version $Id$
 */
body{ background: url(../images/bg.jpg) #041428;}
@font-face {
  font-family: 'iconfont';
  src: url('https://at.alicdn.com/t/font_1462803393_494636.eot'); /* IE9*/
  src: url('https://at.alicdn.com/t/font_1462803393_494636.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('https://at.alicdn.com/t/font_1462803393_494636.woff') format('woff'), /* chrome、firefox */
  url('https://at.alicdn.com/t/font_1462803393_494636.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('https://at.alicdn.com/t/font_1462803393_494636.svg#iconfont') format('svg'); /* iOS 4.1- */
}
                    
.iconfont{font-family:'iconfont', 微软雅黑, 'Helvetica Neue', Helvetica, Arial, 'Hiragino Sans GB', 'Hiragino Sans GB W3', 'WenQuanYi Micro Hei', sans-serif;; font-style: normal; display: inline-block; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;}

.wrap{ width: 100%; min-width: 1286px;}
.box{ width: 1092px; margin: auto; }
.box2{ width: 1286px; margin: auto; }
ul.navigation{ margin:20px auto; width: 900px; }
ul.navigation>li{ color: #fff; font-size: 16px; margin: 0 29px; float: left; line-height: 50px; height: 50px; }
ul.navigation>li.logo{ margin: 0 75px; }
ul.navigation>li>a{ color: #fff; }
ul.navigation>li>a:hover{ color: #81858b; }

/*焦点图*/
.focus{width: 375px;height: 209px;overflow:hidden;position:relative;}
.focus ul{height: 280px;position:absolute;}
.focus ul li{float:left;width: 375px;height: 209px;overflow:hidden;position:relative;}
.focus ul li div{position:absolute;overflow:hidden;}
.focus .btn{position:absolute;width: 375px;height:10px;right:0;bottom: 15px;text-align:center;}
.focus .btn span{display:inline-block;_display:inline;_zoom:1;width: 10px;height: 10px;_font-size:0;margin-left:5px;cursor:pointer;background:#fff;border-radius:50%; -moz-border-radius:50%; -webkit-border-radius:50%;}
.focus .btn span.on{background: #f3c544;}
.focus .preNext{ font-size: 28px; width: 35px; height: 50px; line-height: 48px; text-align: center; color: #fff; position:absolute; top: 75px; cursor:pointer; display:none; background:rgba(0,0,0,0.7);
 filter: progid:DXImageTransform.Microsoft.gradient(gradientType = 0, startColorstr = #7000000, endColorstr = #70000000)\70;
}
.focus .pre{left:0;}
.focus .next{right:0;}

.main1{background: url(../images/stone1.png) no-repeat 10px -25px;height: 839px;}
.main1 .main_left .border-top{width: 409px;margin-left: -3px;border-top: 4px;border-bottom: 0;-o-border-image:linear-gradient(to right, #37b9a1, #2f9cd0) 1 0%;border-image:-webkit-linear-gradient(left, #37b9a1, #2f9cd0) 1 0%;border-image:linear-gradient(to right, #37b9a1, #2f9cd0) 1 0%;}
.main1 .main_left{float: left;width: 409px;height: 322px; margin-left: 170px;
 background-color:rgba(58, 114, 176, 0.25);
 filter: progid:DXImageTransform.Microsoft.gradient(gradientType = 0, startColorstr = #253a72b0, endColorstr = #253a72b0)\25;
}
.main1 .main_left h2{line-height: 60px;border-bottom: 1px solid #0777a1;font-size: 33px;color: #fff;text-align: center;margin: 5px 55px 0;position: relative;}
.main1 .main_left h2:before{border-radius: 50px; -moz-border-radius: 50px; -webkit-border-radius: 50px; width: 5px;height: 5px;background: #0777a1;content: '';position: absolute;left: 0;bottom: -3px;}
.main1 .main_left h2:after{border-radius: 50px; -moz-border-radius: 50px; -webkit-border-radius: 50px; width: 5px;height: 5px;background: #0777a1;content: '';position: absolute;right: 0;bottom: -3px;}
.main1 .main_left .banner{margin: 20px 17px;}
.main1 .main_left .txt{margin-right: 20px;}
.main1 .main_left p , .main1 .main_left p a{ color: #95aab0; font-size: 18px; text-align: right; line-height: 50px; }
.main1 .main_left p a:hover{ color: #fff; }
a.yellow_btn{width: 243px;height: 57px;line-height: 57px;text-align: center;border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px; background: #f3c544;color: #171c20;font-size: 25px;float: right; margin: 10px 0 20px 0; position: relative;}
a.yellow_btn:hover{ background: #FFD45B; }
.yellow_btn .icon{ font-family: 'iconfont';font-size: 32px; position: absolute; right: 15px;}

.main1 .main_right p{color: #fff;font-size: 35px;font-family: "宋体";margin: 0 0 33px 160px;}
.main1 .main_right img{margin-left: -9px;}
.main1 h1{font-size: 60px;color: #00a0e9;text-align: center;line-height: 120px;margin-bottom: 20px;font-family: '宋体';}

.main2{background: url(../images/stone2.png) no-repeat 10px 0px;height: 570px;}
h3{ color: #f4f4f5; font-size: 36px; text-align: center; line-height: 65px; }
h4{ color: #00c3fc; font-size: 16px; text-align: center; }
.main2 .main_left .photoimg{ float: left; margin: 35px 90px 0 175px;  }
.main2 .main_right{width: 688px;float:left;margin-top: 75px;}
.main2 .main_right .name a{background: url(../images/name_bg.png) no-repeat;text-align: center;line-height: 56px;width: 136px;height: 56px;color: #00a0e9;font-size: 30px;margin-bottom: 35px; display: block;}
.main2 .main_right .name a:hover{color: #40B8EF;}
.main2 .main_right .explain{padding: 30px 40px;color: #fff;line-height: 40px;font-size: 24px;
  background-color: rgba(0, 160, 233, 0.1);
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType = 0, startColorstr = #2000a0e9, endColorstr = #2000a0e9)\2;
}

.main3{background:url(../images/stone3.png) no-repeat 10px -70px;height: 460px;}
.rollBox{width:1286px;overflow:hidden; margin-top:15px; }

/*.rollBox .RightBotton {
    height:64px; width:39px; font-size: 46px; overflow:hidden;float:left;display:inline;margin:75px 0 0 0;cursor:pointer;
    background: url(../images/left_img.png) no-repeat;
    background: -webkit-linear-gradient(left top,#5856d6,#ef4db6);
    background: -o-linear-gradient(bottom right,#5856d6,#ef4db6);
    background: -moz-linear-gradient(bottom right,#ef4db6,#5856d6);
    background: linear-gradient(to bottom right,#5856d6,#ef4db6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.rollBox .LeftBotton{
  height:64px; width:39px; font-size: 46px; overflow:hidden;float:left;display:inline;margin:75px 0 0 0; cursor:pointer;
    background: #ef4db6;
    background: -webkit-linear-gradient(left top,#37b9a1,#2f9cd1);
    -webkit-background: -o-linear-gradient(bottom right,#37b9a1,#2f9cd1);
    -webkit-background: -moz-linear-gradient(bottom right,#2f9cd1,#37b9a1);
    -webkit-background: linear-gradient(to bottom right,#37b9a1,#2f9cd1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}*/

#scroll{width:1286px;overflow:hidden;float:left;margin-top: 10px;}
#scroll .owl-wrapper-outer{margin:0 auto;}
.owl-carousel .owl-wrapper-outer{ width:1286px;}
#scroll .item{ float:left;text-align:center;}
#scroll .item h5 a{font-size: 16px;line-height: 23px;padding: 5px 25px;display: block;color: #FFFFFF;}
#scroll .item h5 a:hover{color: #00a0e9;}
#scroll .item p{font-size: 14px;color: #fff;margin: 0 20px;line-height: 24px;}
#scroll .item a:hover{color:#f00;}
.owl-buttons{ position: absolute; top: 75px;  width:1286px;}
.owl-theme .owl-controls .owl-buttons .owl-prev{height:64px;width:39px; left:0; background: url(../images/left_img.png) no-repeat; overflow:hidden;float:left; cursor:pointer;}
.owl-theme .owl-controls .owl-buttons .owl-next{height:64px;width:39px; right:0;background:url(../images/right_img.png) no-repeat;overflow:hidden;float: right; cursor:pointer;}

/*底部信息*/
.footer{background:url(../images/foot_b.png) no-repeat center 72px;height: 640px; width: 100%; min-width: 1286px; margin: auto; background-size: cover;}
.footer .left{background: rgba(45,143,209,1);background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(45,143,209,1)), color-stop(100%, rgba(33,183,156,0.5)));background: -webkit-linear-gradient(-45deg, rgba(45,143,209,1) 0%, rgba(33,183,156,0.5) 100%);background: -webkit-linear-gradient(315deg, rgba(45,143,209,1) 0%, rgba(33,183,156,0.5) 100%);background: linear-gradient(135deg, rgba(45,143,209,1) 0%, rgba(33,183,156,0.5) 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d8fd1', endColorstr='#21b79c', GradientType=1 );width: 400px;height: 180px;color: #fff;position: relative; float: left;}
.footer .left p{font-size: 55px; padding: 25px 0 0 30px;/* margin: 20px; */font-family: "宋体";}
.footer .left p.p1{font-size: 40px;padding: 10px 0 0 30px;}
.footer a.yellow_sbtn{width: 129px;height: 57px;line-height: 57px;text-align: center;border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px; background: #f3c544;color: #171c20;font-size: 25px;display: block;/* float: right; */margin: 10px 0 20px 0;position: absolute;right: 30px;bottom: 5px;}
.footer a.yellow_sbtn:hover{ background: #FFD45B; }
.footer a.yellow_sbtn .icon{ font-family: 'iconfont';font-size: 32px; position: absolute; right: 15px;}
.footer .right{ float: left; margin: 0 0 0 100px}
.footer .right p{color: #fff;font-size: 36px;line-height: 80px;margin-bottom: 25px;}
.footer .right p:before{background: url(../images/nub_bg.png) no-repeat; padding: 18px 31px;color: #0761c4;margin-right: 15px;}
.footer .right .p1:before{content: "1";}
.footer .right .p2:before{content: "2";}
.footer .right .p3:before{content: "3";}
.footer2{ width: 100%; min-width: 1286px; color: #19273a;font-size: 14px;background: #fff;text-align: center;line-height: 25px;padding-bottom: 20px;}
.footer2 ul{ width: 230px; margin: auto; }
.footer2 li a{ color: #19273a; float: left; padding: 0 10px;}
.footer2 li a:hover{color: #3A4758;}
.footer2 a{color: #04070C;}
.footer2 a:hover{color: #4A5D75;}