@charset "UTF-8";
body, h1, h2, h3, h4, h5, h6, ol, ul, p, dl, dt, dd, fieldset {
	margin: 0;
	padding: 0;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}
li {
	list-style-type: none;
}
a {
	text-decoration: none;
	cursor: pointer;
}
img {
	max-width: 100%;
	border: none;
	vertical-align: middle;
}
.layout {
	max-width: 1058px;
	margin: 0 auto;
}
.clearfix::after {
	content: "";
	display: block;
	clear: both;
}
.fl {
	float: left;
}
.fr {
	float: right;
}

