@charset 'utf-8';

.logo,
.tpro,
.nav,
.navlist,
.tlogo,
.bvip,
.tphone,
.bottom,
.bleft,
.blist,
.weixin,
.ltitle,
.lomain,
.lolist,
.listl,
.listr,
.lolist2,
.lolist3,
.teqq {
	float: left;
}

.closed {
	float: right;
}

.fl {
  float: left;
}
.fr {
  float: right;
}

.orange {
	color: #ff5500;
}


.box {
	width: 1200px;
	margin: 0 auto;
}
/*头部开始*/
.top {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	 _position: absolute;
	 _top: expression(eval(document.documentElement.scrollTop));
	width: 100%;
	height: 49px;
	line-height: 49px;
	background: #3a3a3a;
	z-index: 999;
}
.logo {
	display: inline;
	width: 125px;
	height: 49px;
	margin-right: 28px;
	background: url(../images/logo.png);
}
.logo a {
	display: block;
	width: 125px;
	height: 49px;
}
.tpro {
	width: 123px;
	height: 49px;
	background: url(../images/dot.png) left center no-repeat;
	color: #019cd8;
	font-size: 22px;
	text-align: center;
}
.tpro a {
	color: #019cd8;
}
.nav {
	height: 49px;
}
.nav li {
	float: left;
	height: 49px;
	color: #e0dfdf;
	background: url(../images/line.png) right center no-repeat;
	font-size: 19px;
}
.nav li a {
	display: inline-block;
	height: 49px;
	padding: 0 18px;
	color: #e0dfdf;
}
.nav li a:hover {
	display: inline-block;
	height: 49px;
	background: #303030;
	color: #e0dfdf;
}
.nav li.ndown {
	position: relative;
	width: 112px;
	height: 49px;
	background: url(../images/ntop.png);
	text-align: center;
	text-indent: -10px;
	cursor: pointer;
}
.nav li.ndown2 {
	background: url(../images/ntop2.png);
}
.navchild {
	display: none;
	position: absolute;
	top: 49px;
	left: 0;
	width: 432px;
	height: 370px;
	padding-top: 6px;
	padding-left: 26px;
	background: #303030;
	text-align: left;
	text-indent:0;
	z-index: 999;
}
.navchild h2 {
	float: left;
	width: 391px;
	height: 60px;
	padding-left: 5px;
	background: url(../images/line2.png) 0 58px no-repeat;
	color: #f1f1f1;
	font-size: 17px;
	line-height: 60px;
	text-indent: -10px;
}
.navchild h2:before {
	position: relative;
	top: 3px;
	left: 10px;
	margin-right: 10px;
	content: url(../images/t1.png);
}
.navlist {
	width: 198px;
	height: 145px;
	background: url(../images/line2.png) 0 143px no-repeat;
}
.navt1,.navt2,.navt3,.navt4 {
	width: 193px;
	height: 27px;
	margin-top: 13px;
	padding-left: 5px;
	color: #f1f1f1;
	font-size: 17px;
	line-height: 27px;
}
.navt1:before,.navt2:before,.navt3:before,.navt4:before {
	position: relative;
	top: 5px;
	left: 2px;
	margin-right: 10px;
}
.navt1:before {
	content: url(../images/t2.png);
}
.navt2:before {
	content: url(../images/t3.png);
}
.navt3:before {
	content: url(../images/t4.png);
}
.navt4:before {
	content: url(../images/t5.png);
}
.navlist ul {
	float: left;
	padding-left: 30px;
	padding-top: 5px;
}
.navlist li {
	float: left;
	width: 80px;
	height: 30px;
	padding: 0;
	line-height: 30px;
	background: none;
	color: #f1f1f1;
	font-size: 13px;
}
.navlist li a {
	width: 80px;
	height: 30px;
	padding: 0;
	line-height: 30px;
	color: #f1f1f1;
}
.navlist li a:hover {
	height: 30px;
	padding: 0;
	line-height: 30px;
	color: #fff;
	background: none;
}
.rnav {
	float: right;
	height: 49px;
	line-height: 49px;
	font-size: 13px;
}
.tlogo {
	position: relative;
	color: #ff5500;
	height: 49px;
	padding: 0 18px;
	background: url(../images/line.png) right center no-repeat;
	cursor: pointer;
}
.tlogochild {
	display: none;
	position: absolute;
	top: 15px;
	right: 1px;
	width: 88px;
	border:1px solid #dfdfdf;
	border-bottom:none;
	background: #fff;
	z-index: 999;
}
.tlogochild li {
	width: 88px;
	height: 33px;
	_height: 28px;
	_padding-top: 5px;
	border-bottom:1px solid #dfdfdf;
	line-height: 33px;
	background: #fff;
	color: #666666;
	font-size: 12px;
	text-align: center;
	_line-height: 15px;
}
.bvip a {
	color: #edecec;
	height: 49px;
	padding: 0 18px;
	background: url(../images/line.png) right center no-repeat;
}
.bvip a:hover {
	display: inline-block;
	color: #edecec;
	height: 49px;
	background: #303030;
}
.tphone {
	width: 145px;
	height: 49px;
	background: url(../images/phone.png) 16px 18px no-repeat;
	color: #ff5500;
	font-size: 15px;
	text-indent: 36px;
}
 


/*友情链接开始*/
.hot {
	width: 364px;
	margin-top: 20px;
	padding-bottom: 25px;
	border: 1px solid #dfdfdf;
	box-shadow: 2px 2px 2px #dfdfdf;
	background: #fff;
	behavior: url(pie.htc); 
}
.hotlist {
	display: inline;
	width: 334px;
	height: 140px;
	margin: 0 15px;
	border-bottom: 1px dashed #ededed;
}
.hotlist h2 {
	width: 334px;
	height: 50px;
	border-bottom: 1px dashed #ededed;
	line-height: 50px;
	color: #333333;
	font-size: 17px;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}
.hotlist h2 a {
	color: #333333;
	font-size: 17px;
}
.hotlist h2 a:hover {
	color: #0b79c8;
	font-size: 17px;
}
.hotlist dl {
	float: left;
	width: 334px;
	height: 65px;
}
.hotlist dl dt {
	overflow: hidden;
	float: left;
	width: 70px;
	height: 63px;
	border: 1px solid #dfdfdf;
	text-align: center;
}
.hotlist dl dt img {
	height: 63px;
}
.hotlist dl dd {
	position: relative;
	display: inline;
	float: left;
	width: 227px;
	height: 21px;
	margin-left: 13px;
	margin-top: 1px;
	padding-left: 22px;
	background: url(../images/right.png) 0 0px no-repeat;
	font-size: 14px;
	line-height: 21px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

/*友情链接开始*/
.qlinks {
	overflow: hidden;
	float: left;
	width: 100%;
	height: 150px;
	padding-top: 60px;
	background: #eeeeee;
}
.qlinksleft {
	float: left;
	width: 133px;
	height: 86px;
	line-height: 86px;
	padding-left: 13px;
	background: url(../images/qlink.png);
	color: #333333;
	font-size: 25px;
}
.qlinksright {
	overflow: hidden;
	float: left;
	width: 854px;
	height: 90px;
	padding-left: 25px;
}
.qlinksright li {
	overflow: hidden;
	float: left;
	width: 106px;
	height: 20px;
	line-height: 20px;
	padding-bottom: 14px;
	color: #666666;
	font-size: 13px;
	text-overflow: hidden;
	white-space: nowrap;
}

/*底部开始*/
.bottom {
	width: 100%;
	height: 290px;
	padding-top: 75px;
	background: #444749;
}
.bleft {
	width: 390px;
	height: 290px;
}
.bleft dl {
	float: left;
	width: 390px;
	height: 290px; 
}
.bleft dl dt {
	float: left;
	width: 190px;
	height: 80px; 
}
.bleft dl dt img {
	width: 182px;
	height: 54px; 
}
.bleft dl dd {
	float: left;
	width: 300px;
	height: 200px;
	line-height: 26px; 
	color: #92979b;
	font-size: 13px;
}
.blist {
	width: 222px;
	height: 290px;
}
.blist dl {
	float: left;
	width: 222px;
	height: 24px;
}
.blist dl dt {
	float: left;
	width: 24px;
	height: 24px;
	padding-right: 10px;
}
.blist dl dt {
	width: 24px;
	height: 24px;
}
.blist dl dd {
	float: left;
	width: 180px;
	height: 24px;
	line-height: 24px;
	color: #e8e9e9;
	font-size: 18px;
}
.blist ul {
	float: left;
	width: 180px;
	padding-left: 34px;
	padding-top: 10px;
}
.blist li {
	float: left;
	width: 180px;
	height: 30px;
	line-height: 30px;
	color: #e8e9e9;
	font-size: 13px;
}
.blist li a {
	color: #e8e9e9;
}
.attention {
	float: left;
	width: 222px;
	padding-top: 10px;
}
.attention dl {
	float: left;
	width: 222px;
	height: 30px;
}
.attention dl dt {
	float: left;
	width: 24px;
	height: 15px;
	padding: 7px 10px 8px 0;
	text-align: right;
}
.attention dl dt img {
	width: 19px;
	height: 15px;
}
.attention dl dd {
	float: left;
	width: 180px;
	height: 30px;
	line-height: 30px;
	color: #e8e9e9;
	font-size: 13px;
}
.attention dl dd a {
	color: #e8e9e9;
}
.weixin {
	width: 115px;
	height: 185px;
	padding: 15px 14px 0 14px;
	background: #5b5d5f;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	
}
.weixin dl {
	float: left;
	width: 115px;
	height: 185px;
}
.weixin dl dt {
	float: left;
	width: 115px;
	height: 116px;
}

.weixin dl dd {
	float: left;
	width: 115px;
	padding-top: 10px;
	line-height: 20px;
	color: #d6dbdf;
	font-size: 12px;
	font-family: '宋体';
	text-align: center;
}
/*登入弹出窗开始*/
.popbox {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background: url(../images/bg.png);
	z-index: 1000;
}

.logon {
	position: relative;
	float: left;
	left: 50%;
	top: 200px;
	width: 460px;
	margin-left: -230px;
	_margin-left: -165px;
	padding-bottom: 20px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border: 1px solid #adabab;
	background: #fff;
	behavior: url(pie.htc);
}
.ltitle {
	width: 420px;
	height: 59px;
	padding: 0 20px;
	background: #fbfafa;
	border-bottom: 1px solid #dfdfdf;
	line-height: 59px;
	color: #333333;
	font-size: 19px;
}
.closed {
	width: 23px;
	height: 23px;
	margin-top: 17px;
	background: url(../images/closed.png);
}
.closed a {
	display: block;
	width: 23px;
	height: 23px;
	background: url(../images/closed.png);
}
.closed a:hover {
	display: block;
	width: 23px;
	height: 23px;
	background: url(../images/closed2.png);
}
.lomain {
	display: inline;
	width: 410px;
	padding-bottom: 15px;
	margin: 10px 25px 0 25px;
	border-bottom: 1px dashed #ededed;
}
.lolist {
	width: 410px;
	height: 36px;
	margin-top: 25px;
}
.lolist2 {
	width: 260px;
	height: 24px;
	line-height: 24px;
	padding-left: 100px;
	margin-top: 12px;
	font-size: 12px;
	font-family: '宋体';
}
.lolist2 a {
	color: #0b79c8;
}
.lolist3 {
	width: 260px;
	height: 12px;
	line-height: 12px;
	padding-left: 100px;
	margin-top: 25px;
	color: #f00;
	font-size: 12px;
	font-family: '宋体';
}
.listl {
	width: 90px;
	height: 36px;
	padding-right: 10px;
	line-height: 36px;
	color: #666666;
	font-size: 17px;
	text-align: right;
}
.listr {
	width: 260px;
	height: 36px;
}
.loinp {
	width: 248px;
	height: 34px;
	line-height: 34px;
	padding-left: 10px;
	border: 1px solid #ddd8d8;
	outline: none;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	behavior: url(pie.htc);
}
.loinp:hover {
	border: 1px solid #6dc7f6;
}
.loinp2 {
	width: 413px;
	height: 34px;
	line-height: 34px;
	padding-left: 10px;
	border: 1px solid #ddd8d8;
	outline: none;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	behavior: url(pie.htc);
}
.loinp2:hover {
	border: 1px solid #6dc7f6;
}
.lobut {
	width: 258px;
	height: 36px;
	border: none;
	line-height: 36px;
	background: #38aae6;
	color: #fff;
	font-size: 21px;
	text-align: center;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	behavior: url(pie.htc);
	cursor: pointer;
}
.lobut:hover {
	background: #ff4a00;
}
.teqq {
	display: inline;
	width: 300px;
	height: 31px;
	margin: 20px 0 0 125px;
}
.teqq dl {
	float: left;
	width: 300px;
	height: 31px;
}
.teqq dl dd {
	float: left;
	height: 31px;
	padding-right: 10px;
	line-height: 31px;
	color: #7a7a7a;
	font-size: 16px;
}
.teqq dl dt {
	float: left;
	width: 31px;
	height: 31px;
}


