@font-face {
    font-family: 'iconfont';
    src: url('//at.alicdn.com/t/font_1461121317_6831183.eot'); /* IE9*/
    src: url('//at.alicdn.com/t/font_1461121317_6831183.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('http://at.alicdn.com/t/font_1461121317_6831183.woff') format('woff'), /* chrome、firefox */
    url('http://at.alicdn.com/t/font_1461121317_6831183.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('//at.alicdn.com/t/font_1461121317_6831183.svg#iconfont') format('svg'); /* iOS 4.1- */
}
button span{font-family: iconfont}
button:hover{opacity: 0.5}
*{
    margin: 0px;padding: 0px;list-style: none;text-decoration: none;
}
    body{
        background: url("images/招生页背景.png");
        background-repeat: no-repeat;
        background-color: #041428;
        width: 100%;
        background-position: top,center;
    }
    .wrapper{
        width: 1040px;
        margin: 0px auto;
    }
    /*header部分css样式*/
    .header{ width: 100%;margin-top: 40px;text-align: center}
    .headerleft,.headerright,.headerlogo{display: inline-block;}
    .headerleft,.headerright{width: 320px}
    .headerleft li{
        display: inline-block;
        float: right;
        margin-left: 15%;
    }
    .headerright li{
        display: inline-block;
        float: left;
        margin-right: 15%;
    }
    .headerleft>ul>li>a{
        font-size: 16px;
        font-family: 黑体;
        font-weight:bold;
    }
    .headerleft a{color: #ffffff;}
    .headerright a{color: white}
    .header>.headerlogo{  width: 15%;margin: 0 6% }
    .headerright>ul>li>a{
        font-size: 16px;
        font-family: 黑体;
        font-weight:bold;
    }
    .header a:hover{  color: #dddddd;}
    /*maintop部分CSS样式*/
    .maintop>.title{
        margin: 50px auto 50px auto;
        text-align: center;
        font-size: 60px;
        color: #00a0e9;
        font-family: SimSun-ExtB;
    }
    .maintop>.maintopbanner {
        margin-left: 20px;
        background: rgb(58,114,176);    /*不支持rgba的浏览器*/
        background: rgba(58,114,176,.2);  /*支持rgba的浏览器*/
        filter:alpha(opacity=20);    /*IE8支持*/
        display: inline-block;
        text-align: center;
    }
    .maintop .bannertop{
        position: relative;
        top:-4px;
        width: 100%;
        height: 4px;
        background: -webkit-gradient(linear, 0 0, 100% 0, from(#37b9a1), to(#2f9cd0));
        background: -moz-linear-gradient(left, #37b9a1, #2f9cd0);
        background: -ms-linear-gradient(#37b9a1 0,#2f9cd0 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#37b9a1',endColorstr='#2f9cd0',GradientType=1);
    }
    .maintop p{
        margin-top: 20px;
        font-size: 33px;
        font-family: 微软雅黑;
        color: #ffffff;
        position: relative;
    }
    .maintop .cutline{
        width: 100%;
        margin: 0 auto;
    }
    .maintop .cutline div{
        width: 306px;
        border: 1px solid #0777a1;
        display: inline-block;
        position: relative;
    }
    .maintop .cutline:before{
        content: '';
        position: relative;
        top:1px;
        left: 1px;
        display: inline-block;
        width: 0;
        height: 0;
        border: 2px solid #0777a1;
        border-radius: 2px;
    }
    .maintop .cutline:after{
        content: '';
        position: relative;
        top:1px;
        left: -1px;
        display: inline-block;
        width: 0;
        height: 0;
        border: 2px solid #0777a1;
        border-radius: 2px;
    }
    .carousel{
        margin: 15px;
        position: relative;
        width: 375px;
        height: 210px;
        overflow: hidden;
    }
    .carousel .img-ct{
        position: relative;
    }
    .carousel .img-ct img{
        width: 375px;
        height: 210px;
    }
    .carousel .img-ct:after{
        content: ' ';
        display: block;
        clear: both;
    }
    .carousel .img-ct li{
        position: absolute;
        display: none;
    }
    .arrow{
        position: absolute;
        top: 50%;
        margin-top: -15px;
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        background: #4E443C;
        color: #fff;
        border-radius: 30px;
        box-shadow: 0 0 2px #999;
        opacity: 0.8
    }
    .arrow:hover {
        opacity: 1;
    }
    .pre{
        left: 10px;
    }
    .next{
        right: 10px;
    }
    ul.bullet {
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
    }
    ul.bullet li {
        width: 16px;
        height: 4px;
        border-radius: 2px;
        background: #fff;
        display: inline-block;
        cursor: pointer;
    }
    ul.bullet li.active {
        background: #666;
    }
    .maintop .starttime{
        display: inline-block;
        vertical-align: top;
        font-size: 35px;
        color: white;
        margin-left: 120px;
        font-family: SimSun-ExtB;
    }
    .maintop .toptext{
        width: 405px;
        text-align: right;
        display: inline-block;
        margin-left: 2%;
    }
    .toptext p{
        font-size: 18px;
        margin: 20px;
        font-family: 微软雅黑;
    }
    .contactline{
        width: 257px;
        height: 141px;
        background: url("images/line_03.png");
        display: inline-block;
        position: relative;
        top: -44px;
        left: -19px;
    }
    .toptext button{
        background-color: #f3c504;
        font-size: 27px;
        margin-bottom: 40px;
        border-radius: 2px;
        border: hidden;
        padding: 4px 20px;
        width: 250px;
    }
    .toptext button span{float: right}
    /*讲师简介css部分*/
    .mainmiddle{margin-top: 160px;}
    .mainmiddletitle{margin-bottom: 68px}
    .mainmiddle .titlechinese{
        text-align: center;
        font-family: 微软雅黑;
        font-size: 36px;
        color: #ffffff;
    }
    .mainmiddle .titleenglish{
        text-align: center;
        font-family: SimHei;
        font-size: 16px;
        color: rgb(0,195,252);
    }
    .mainmiddlephoto{
        width: 300px;
        display: inline-block;
        text-align: right;
        position: relative;
        top: 0px;
    }
    .mainmiddlephoto .imghead{
        position: relative;
        top:-100px;
        border: 2px solid #2f9dcf;
    }
    .mainmiddlephoto .imgcircle{
        position: relative;
        top: -84px;
        left: -80px;
    }
    .mainmiddlephoto .imgufo{
        position: relative;
        top: 0px;
        left: -10px;
        z-index: 1;
    }
    .mainmiddle .middleleft{
        width: 650px;
        margin-left: 80px;
        display: inline-block;
        vertical-align: top;
    }
    .mainmiddlename{
        width: 132px;
        height: 54px;
        display: inline-block;
        position: relative;
        clear: both;
    }
    .mainmiddlename .ruoyu{
        width: 120px;
        height: 48px;
        margin:3px 6px;
        border-top: 1px solid #58eef8;
        border-bottom: 1px solid #58eef8;
    }
    .mainmiddlename .ruoyu1{
        font-size: 30px;
        font-family: 微软雅黑;
        color: #00a0e9;
        width: 120px;
        height: 44px;
        background: rgb(58,114,176);    /*不支持rgba的浏览器*/
        background: rgba(58,114,176,.2);  /*支持rgba的浏览器*/
        filter:alpha(opacity=20);
        display: inline-block;
        text-align: center;
        margin: 2px 0px;
    }
    .mainmiddlename div{
        width: 10px;
        height: 10px;
        position: absolute;
    }
    .mainmiddlename .first{
        left:0;
        top:0;
        border-top: 2px solid #00a0e9;
        border-left: 2px solid #00a0e9;
    }
    .mainmiddlename .second{
        right:0;
        top:0;
        border-top: 2px solid #00a0e9;
        border-right: 2px solid #00a0e9;
    }
    .mainmiddlename .third{
        left:0;
        bottom:0;
        border-bottom: 2px solid #00a0e9;
        border-left: 2px solid #00a0e9;
    }
    .mainmiddlename .forth{
        right:0;
        bottom:0;
        border-right: 2px solid #00a0e9;
        border-bottom: 2px solid #00a0e9;
    }
    .mainmiddleintroduce{
        width: 586px;
        height: 166px;
        padding: 40px;
        font-size: 24px;
        line-height: 48px;
        font-family: "微软雅黑 Light";
        color: #ffffff;
        margin-top: 30px;
        background: rgb(58,114,176);    /*不支持rgba的浏览器*/
        background: rgba(58,114,176,.2);  /*支持rgba的浏览器*/
        filter:alpha(opacity=20);
    }
    /*中间轮播部分*/
    .mainbuttom .mainbuttomname{
        text-align: center;
        font-size: 28px;
        font-family: 微软雅黑;
        color: #ffffff;
    }
    .teacherwrapper{margin-top: 0px;}
    .teacherwrapper div[class*='teacher']{
        width: 200px;
        display: inline-block;
        text-align: center;
    }
    .teacherwrapper div[class*='teacher'] span{
        display: inline;
        margin-top: 23px;
        font-size: 20px;
        font-family: 微软雅黑;
        color: #00a0e9;
    }
    .teacherwrapper div[class*='teacher'] p{
        margin-top: 18px;
        font-size: 14px;
        font-family: 微软雅黑;
        color: #ffffff;
        display: inline-block;
        width: 157px;
        padding: 0 2px;
    }
    img[class*='teacher']{position: relative}
    .mainbuttom .teacherleft{
        left: -100px;
        top: 169px;
    }
    .mainbuttom .teacherright{
        left: 1080px;
        top: -236px;
    }

    /*foot上面部分*/
    .mainfoot{margin-top: 90px;}
    .mainfoot .mainfootleft{
        width: 393px;
        height: 182px;
        margin-left: 20px;
        background: -webkit-gradient(linear, 0 0, 100% 100%, from(rgba(45,144,209,0.65)) , to(rgba(33,183,156,0.65)));
        background: -moz-linear-gradient(left, rgba(45,144,209,0.65), rgba(33,183,156,0.65));
        background: -ms-linear-gradient(rgba(45,144,209,0.65) 0,rgba(33,183,156,0.65) 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#37b9a1',endColorstr='#2f9cd0',GradientType=1);
        display: inline-block;
        vertical-align: top;
    }
    .mainfoot .mainfoottext{
        display: inline-block;
        margin:10% 0 10% 10% ;

    }
    .mainfootleft .footleftseat{
        font-size: 55px;
        color: #ffffff;
    }
    .mainfootleft .footleftmoney{
        font-size: 40px;
        color: #ffffff;
    }
    .mainfoot button{
        background-color: #f3c504;
        font-size: 27px;
        margin-bottom: 28px;
        margin-left: 15px;
        border-radius: 2px;
        border: hidden;
        width: 130px;
        height: 60px;
    }
    .mainfoot .mainfootright{
        width: 525px;
        display: inline-block;
        margin-left: 90px;
    }
    .mainfootright li{
        height: 50px;
        font-size: 36px;
        font-family: 黑体;
        color: #ffffff;
        margin-top: 5%;
        margin-bottom: 10%;
    }
    .mainfootright li img{
        margin-right: 15px;
        position: relative;
        top: 10px;
    }


    /*footer部分*/
    .foot{
        text-align: center;
        font-family: 黑体;
        margin-top: 390px;
    }