@charset "utf-8";
/* CSS Document */
.fl {float: left;}
.fr {float: right;}
.fw {font-weight: bold;}
img{ width:100%; display:block;}
a{ cursor:pointer;}
.bf8{ background:#f8f8f8;}
.m5{ margin:5px 0;}
.m10{ margin:10px 0;}

.box{ width:1200px; margin:auto;}
.head{ height:103px; background:#f6f6f6;}
.head .logo{ margin:20px 150px 0 10px; width:259px;}
.head ul.menu{}
.head .menu li{ float:left; font-size:18px; height:103px; line-height:103px;}
.head .menu li a{ color:#2c2c2c; display:block; padding:0 25px;}
.head .menu li a:hover , .head .menu li a.active{ color:#fff; background:#f65444;}
.head .tel{ background:url(http://pres.vobao.com/Images/V3/hk/tel_icon.png) no-repeat 1px; width:210px; text-indent:50px; margin:25px 0 0;}
.head .name{ color:#666666; font-size:16px;}
.head .nub{color:#f65444; font-size:22px;}

/*首页焦点图*/
.m_banner{ background:#fff; position:relative; margin-bottom:20px;}
.m_banner .banner{width:100%; position:absolute;top:0;left:0; background-position:center top;}
.banner_ctrl{ height:100px;width:960px;position:absolute;top:50%;left:50%;margin:-50px 0 0 -480px;z-index:2;}
  .banner_ctrl a{ display:block;width:30px;height:100px; background:url(http://pres.vobao.com/Images/V3/hk/banner_ctrl.png) no-repeat;_background:url(http://pres.vobao.com/Images/V3/hk/banner_ctrl.jpg) no-repeat; position:absolute; opacity:.1;filter: alpha(opacity=10);
-moz-opacity:0.1;}
.banner_ctrl a.prev{left:-30px;}
.banner_ctrl a.next{right:-30px; background-position:-30px 0;}
.m_banner .banner .main_c{ position:relative; z-index:10;}

.b1{background-image:url(http://pres.vobao.com/Images/V3/hk/banner.jpg); height:513px;}
.b2{background-image:url(http://pres.vobao.com/Images/V3/hk/banner.jpg); display:none; height:513px;}

.i_adv{ width:1179px; margin:50px auto;}

/*热门产品*/
.hot_pro{ background:#fc8074; padding:10px 0;}
.hot_pro h1{ font-size:45px; text-align:center; line-height:80px; color:#fff;}
.hot_pro li{ background:#fff; width:1120px; margin: 5px auto 20px; padding:20px 30px;}
.hot_pro .photo{ float:left; width:165px; height:165px; margin:10px 20px;}
.hot_pro .photo img{ border-radius:50%; -moz-border-radius:50%; -webkit-border-radius:50%; width:165px; height:165px;}
.hot_pro .con{ float:left; width:600px; margin:0 20px;}
.hot_pro h2{ font-size:18px; color:#2c2c2c; line-height: 25px;}
.hot_pro h2 a{ color:#2c2c2c;}
.hot_pro h2 a:hover{ color:#f65444;}
.hot_pro h3{ font-size: 16px; color:#2c2c2c; line-height: 38px; margin-bottom: 5px; border-bottom:1px dashed #ddd;}
.hot_pro p{ font-size:16px; color:#666666; line-height:28px;}
.hot_pro .detail{ float:right; text-align:center; margin: 45px 5px 0;}
.hot_pro .view_btn{ background:#f65444; font-size:18px; line-height:35px;}
.hot_pro .view_btn a{ color:#fff; display:block; padding:0 50px;}
.hot_pro .view_btn a:hover{ background:#E03E03;}
.hot_pro .price{ color:#f65444; font-size:25px; line-height: 60px;}
.hot_pro .more_btn{ color:#fff; border:1px solid #fff; border-radius:4px; line-height:35px; width:120px; text-align: center; margin: 0 auto 20px;}
.hot_pro .more_btn a{ color:#fff; display:block;}
.hot_pro .more_btn a:hover{ background:#fc8d82;}


/*保险专家*/
.expert{ background:#f8f8f8; padding:20px 0;}
h5{ font-size:45px; text-align:center; line-height:80px; color:#f65444;}
.expert ul{ margin:15px auto 25px;}
.expert li{ float:left; width: 184px; margin:0 28px; position:relative;}
.expert .photo{ border:1px solid #fc8074; padding:6px; background:#f8f8f8; border-radius:50%; -moz-border-radius:50%; -webkit-border-radius:50%;}
.expert .photo img{ width:170px; height:170px; border-radius:50%; -moz-border-radius:50%; -webkit-border-radius:50%;}
.expert .name{ color:#2c2c2c; font-size:18px; text-align:center; line-height: 32px; margin-top: 4px; float:left;}
.expert .name a{ color:#2c2c2c;}
.expert .name a:hover{ color:#f65444;}
.expert .namebox{position:relative; left:50%; float:left;}
.expert .namebox2{float:left; left:-50%; position:relative;}

.expert .evaluate{ color:#666666; font-size:14px; line-height: 20px; margin-left: 16px;}
.star{ width:92px; height:15px; float:left; margin: 3px 9px;}
.expert .qqimg{ width:26px; height:20px; display:block; float:left; margin:9px 0 0 5px;}
.imore_btn{ color:#f65444; border:1px solid #f65444; border-radius:4px; line-height:35px; width:120px; text-align:center; margin:20px auto 20px;}
.imore_btn a{ color:#f65444; display:block;}
.imore_btn a:hover{ color:#ffffff; background:#f65444;}

/*投保流程*/
.flow{ background:#eeeeee; padding-top:20px;}

/*常见问题*/
.i_problem{ padding:15px 0;}
.i_problem li:first-child{ border-bottom:1px dashed #ddd; border-right:1px dashed #ddd;}
.i_problem li.eq2{ border-bottom:1px dashed #ddd;}
.i_problem li.eq3{ border-right:1px dashed #ddd;}
.i_problem li{ float:left; padding:20px; width:550px;}
.i_problem li .question{ background:url(http://pres.vobao.com/Images/V3/hk/Q_icon.jpg) no-repeat left center; text-indent:40px; line-height:30px; color:#11a7e2; font-size:18px; margin-bottom: 10px; background-size: 28px;}
.i_problem li .answer{ background:url(http://pres.vobao.com/Images/V3/hk/A_icon.jpg) no-repeat; padding-left:40px; line-height:28px; color:#2c2c2c; font-size:16px; background-size:28px;}
.i_problem li .hiding{ height:60px; overflow:hidden;}
.i_problem li .autocon {height:auto; min-height:60px;}

/*底部内容*/
.footer{ background:#f2f2f2; padding:15px 0;}
.footer p{ font-size:16px; color:#2c2c2c; text-align:center; line-height:26px;}
.footer ul{ margin:0 auto; width:480px;}
.footer li{ width:110px; height:35px; float:left; margin:10px 5px;}

/*立即预约*/
.reserve_box{ height:110px;}
.reserve{ width:100%; height:110px; color:#fff; position:fixed; bottom:0;
        background:rgba(0, 0, 0, .5);
        filter: progid:DXImageTransform.Microsoft.gradient(gradientType = 0, startColorstr = #50000000, endColorstr = #50000000)\5;
}
:root .reserve{filter: none;/*for IE9*/}
.reserve .zixun{ width: 140px; position:absolute; top:-25px; left:410px;}
.reserve p{ color:#fff; font-size:25px; line-height:120px; text-align: center;}
.reserve .btn_orangr{ background:#fd6500; color:#fff; font-size:18px; text-align:center; line-height:38px; position:absolute; right:420px; top:43px;}
.reserve .btn_orangr a{ color:#fff; display:block; padding:0 30px;}
.reserve .btn_orangr a:hover{ background:#E35D04;}

/*****热销产品******/
/*热销banner*/
.pb1{background-image:url(http://pres.vobao.com/Images/V3/hk/hotp_b.jpg); height:280px;}
.pb2{background-image:url(http://pres.vobao.com/Images/V3/hk/hotp_b.jpg); display:none; height:280px;}

.hot_product{width:1200px; margin:auto;}
.hot_product li{ border:1px solid #f2f2f2; padding:16px 20px; background:#fff; margin:0 auto 20px;}
.hot_product .photo{ float:left; width:190px; height:190px;}
.hot_product .con{ float:left; width:600px; margin:0 20px;}
.hot_product h2{ font-size:18px; color:#2c2c2c; line-height:25px; margin-top:5px;}
.hot_product h2 a{ color:#2c2c2c;}
.hot_product h2 a:hover{ color:#f65444;}

.hot_product h3{ font-size: 16px; color:#2c2c2c; line-height: 38px; margin-bottom: 5px;}
.hot_product p{ font-size:16px; color:#666666; line-height: 28px;}
.hot_product .detail{ float:right; text-align:center; margin:45px 5px 0;}
.flimg{ float:left; width:24px; height:19px; margin:4px;}
.hot_product .view_btn{ background:#f65444; font-size:18px; line-height:35px; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; }
.hot_product .view_btn a{ color:#fff; display:block; padding:0 50px; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;}
.hot_product .view_btn a:hover{ background:#E03E03;}
.hot_product .price{ color:#f65444; font-size:25px; line-height: 60px;}

/*page*/
.page{margin:0 auto; padding:20px 0 30px; width:500px;}
.page li{ font-size:16px; float:left; margin:0 5px; border:1px solid #e3e3e3;}
.page li a{ padding:0 10px; height:33px; line-height:33px; text-align:center; color:#666666; display:block; }
.page li a:hover , .page li a.active{ color:#fff; background:#f65444;}
.return a{ color:#888888; font-size:16px; line-height:40px;}
.return a:hover , .return a.active{ color:#999999;}

/*产品详情*/
.p_detail{ border:1px solid #f2f2f2; margin:auto; padding:9px; margin-bottom:30px;}
.problem li{ float:none; padding:20px; width:1160px; border-bottom:1px dashed #ddd;}
.problem li:first-child{ border-right:none;}

/*代理人*/
.agentb1{background-image:url(http://pres.vobao.com/Images/V3/hk/agent_b.jpg); height:280px;}
.agentb2{background-image:url(http://pres.vobao.com/Images/V3/hk/agent_b.jpg); display:none; height:280px;}
.agent li{ border:1px solid #f2f2f2; margin:10px; padding:20px; float:left; width:530px;}
.agent .con{ width:375px; float:left;}
.agent .photo{ width:125px; height:145px; float:left; margin-right:20px;}
.agent h2{ color:#2c2c2c; font-size:18px; float:left;}
.agent h2 a{ color:#2c2c2c;}
.agent h2 a:hover{ color:#f65444;}
.agent span.satisfy{ color:#2c2c2c; font-size:16px;}
.agent p{ color:#666666; font-size:16px; line-height:28px;}
.agent dt , .agent dd{ color:#2c2c2c; font-size:16px; float:left;}
.agent dt{ width:80px;}
.agent dd{ width:290px;}
.hk_icon{ background:url(http://pres.vobao.com/Images/V3/hk/hk_icon.jpg) no-repeat; width:20px; height:23px; float:left; margin:2px 5px 0;}

.w90{ width:90px;}
.red_btn{ background:#f65444; color:#fff; line-height:30px; font-size:14px; text-align:center;  border:1px solid #f65444; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px;}
.red_btn a{ color:#fff; display:block; }
.red_btn a:hover{ background:#E03E03;}
.btn_red{ border:1px solid #f65444; color:#fff; line-height:30px; font-size:14px; margin-left:10px; text-align:center; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px;}
.btn_red a{ color:#f65444; display:block; }
.btn_red a:hover{ background:#f65444; color:#fff;}

/*代理人详情*/
.agent_d{ border:1px solid #f2f2f2; padding:20px;}
.agent_d .infor{ float: right; width: 500px; margin-right: 40px;}
.agent_d .infor p{ margin-top:8px;}
h6.title{ border-bottom:1px solid #f2f2f2; line-height:30px; margin:14px 0 17px;}
h6.title .name{ font-size:18px; color:#f65444; text-align: center; line-height:30px; border-bottom:3px solid #f65444; width: 100px;}

/*QQ联系*/
.contact{}
.contact h1{ font-size:25px; color:#f65444; line-height:70px; text-align:center;}
.contact h2{ background:#fbfbfb; line-height:35px; color:#f65444; font-size:16px; text-indent:20px;}
.contact .txt{ padding:10px 20px;}
.contact p{ line-height:28px;}
.contact .agree{ width:200px; margin:10px auto;}
.contact .agree input{ width:15px; height:15px; margin:5px;}
.contact .agree span{ color:#f65444; font-size:16px;}
.contact form{ width:400px; margin:30px auto;}
.contact .left{ float:left; width:110px; line-height:45px; text-align:right;}
.contact .right{ width:280px; float:left; margin-left:10px;}
.contact input{border:1px solid #d5d5d5; padding:11px 10px;}
.w260{ width:260px;}
.w138{ width:138px;}
.contact .yzm{ width:110px; height:45px; margin-left:10px; display:inline;}
.contact .btn a{line-height:43px; padding:0 5px;}
.contact p.error{ color:#ff1212; font-size:14px; line-height:18px;}
.qq_btn {line-height:45px; width:280px; margin:20px 0 0 120px;}
.both_txt {font-size:14px; line-height:20px; color:#f65444; text-align:right; margin:0 20px 0;}

/*返利*/
.rebateb1{background-image:url(http://pres.vobao.com/Images/V3/hk/rebate_b.jpg); height:474px;}
.rebateb2{background-image:url(http://pres.vobao.com/Images/V3/hk/rebate_b.jpg); display:none; height:474px;}

.rebate{ background:#fde088; width:1160px; border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px; padding:40px 20px; margin:30px auto; position:relative;}
.rebate h2{ background:url(http://pres.vobao.com/Images/V3/hk/pic_title.jpg) no-repeat center top; font-size:35px; line-height:60px; text-align:center; color:#fff; height:74px; margin:15px 0 0px;}
.rebate .con{ background:url(http://pres.vobao.com/Images/V3/hk/pic_bg.jpg) no-repeat center 0; height:355px; margin:35px 0 20px; position:relative;}
.rebate .left{width:430px; float:left; border-right:1px #dddddd dashed; margin: 50px 0 0 130px;padding-right: 20px; height:240px;}
.rebate .right{width:430px; float:right; margin:50px 90px 0 0;padding-right: 20px;}
.rebate .title{ color:#f64151; font-size:22px; line-height:50px; background:#f4f7f9; text-align:center; margin:0 20px 15px 0;}
.rebate .con p { line-height:34px; font-size:18px; color:#2c2c2c;}
.rebate .rules{ padding:52px 135px;}
.rebate .linkimg{ background:url(http://pres.vobao.com/Images/V3/hk/pic_img4.png) no-repeat; position:absolute; top:-60px; left: 153px; width:901px; height:93px;}
.s_img{ position:absolute; right:115px; bottom:35px;}
.s_img2{ position:absolute; left:90px; bottom:35px;}
.s_img3{ position:absolute; right:65px; bottom:35px;}
.rebate .border0{ border:0; margin:60px 0 0 186px; width: 350px;}
.rebate .input{ border:1px solid #d5d5d5; padding:11px; width:300px; background:#fff; margin-top:15px;}
.rebate .input.error{ border:1px solid #f65444;}
.perimg{ background:url(http://pres.vobao.com/Images/V3/hk/per_icon.png) no-repeat 0 3px; height: 20px; width:16px;}
.phoneimg{ background:url(http://pres.vobao.com/Images/V3/hk/phone_icon.png) no-repeat 0 2px; height: 22px; width:12px;}
.bankimg{ background:url(http://pres.vobao.com/Images/V3/hk/bank_icon.png) no-repeat 0 5px; height:20px; width:19px;}
.rebate .input input{ border:0; margin-left:8px; outline:none;}
.rebate p.error{ color:#f64151; font-size:14px; line-height:18px; text-indent:10px;}

.a-upload{ position:relative;}
.a-upload .upfile{ border:1px solid #f65444; color:#f65444; font-size:16px; line-height:43px; text-align:center; width:322px; margin:37px 0 0 0;}
.a-upload p.txt1{ font-size:14px; line-height:20px; color:#666666; width:324px; margin-top:7px;}
.a-upload input{position:absolute; width: 324px;height: 35px;top: -35px; left:0; opacity:0; filter:alpha(opacity=0);}
.submit_btn{ background:#f65444; color:#fff; line-height:45px; font-size:14px; text-align:center; width:324px; margin-top:15px;}
.submit_btn a{ color:#fff; display:block; }
.submit_btn a:hover{ background:#E03E03;}

/*成功提示弹窗*/
.refer_tip {position:absolute; top:55%; left: 39%; padding: 30px 50px; background:rgba(0,0,0,0.7); color:#fff; font-size: 24px; text-align:center;  -moz-border-radius:0.2rem; -webkit-border-radius:0.2rem; border-radius:0.2rem;}
.refer_tip p{ line-height:30px; font-size: 18px;}
.classa{ display:block; clear:both;}




