*{margin: 0;padding:0;}
 body{
  background: white;
  color: #666;
  font:12px/1.5 Arial,Verdana,"\5b8b\4f53",serif;
  -webkit-font-smoothing: antialiased;
} 
ul,li{
  list-style: none;
}
.clearfix:after{
  content: '';
  display: block;
  clear: both;
}
a{
  text-decoration: none;
  color: inherit;
}


.siteTopbar-wrapper{
  background: #f1f1f1;
}

.siteTopbar{
  margin: 0 auto;
  width: 1210px;
}

/**location**/

.siteTopbar>.location-wrapper{
  position: relative;
  display: inline-block;
  cursor: default;
  height: 30px;
  line-height: 30px;
  z-index: 999;
}

.siteTopbar>.location-wrapper>.location{
  display: inline-block;
  padding: 0 10px;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;

} 
 
.siteTopbar>.location-wrapper:hover .location{
  background: #fff;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}
.siteTopbar>.location-wrapper:hover:after{
  content:'';
  display: block;
  position: absolute;
  height: 0;
  border-top: 1px solid #fff;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  box-sizing: border-box;
  width: 100%;
} 
.siteTopbar>.location-wrapper .i-arrow{
  /* font-size: 13px; */
  display: inline-block;
  vertical-align: top;
}
.siteTopbar>.location-wrapper:hover .i-arrow{
  transform: rotate(180deg);
  transition: transform 0.1s;
}


.siteTopbar>.location-wrapper .locationPicker{
  position: absolute;
  top: 100%;
  left: 0;
}
.siteTopbar>.location-wrapper .locationPicker>ul{
  display: none;
  width: 300px;
  padding: 10px 0 10px 10px;
  border: 1px solid #ddd;
  background: #fff;  
 
}
.siteTopbar>.location-wrapper:hover .locationPicker>ul{
  display: block;
}
.siteTopbar>.location-wrapper .locationPicker>ul>li{
  width: 60px;
  float: left;
  margin: 2px 0;
  line-height: 24px;
}
.siteTopbar>.location-wrapper .locationPicker>ul>li>a{
  display: inline-block;
  padding: 0 7px;
  
}
.siteTopbar>.location-wrapper .locationPicker>ul>li>a:hover{
  background: #F4F4F4;
  color: #C81623;
  cursor: pointer;
}
.siteTopbar>.location-wrapper .locationPicker>ul>li>a.active{
  background: #C81623;
  color: #fff;
}

/**--Links---**/
.siteLinks{
  float: right;
  height: 30px;
  line-height: 30px;
}
.siteLinks>a{
  padding: 0 8px;
}
.siteLinks a:hover{
  color: #C81623;
}
.siteLinks .split{
  width: 1px;
  height: 15px;
  background: #ddd;
  display: inline-block;
  vertical-align: middle;
  margin: 0 1px;
}

/*site-logo-search-cart*/

.site-logo-search-cart{
  width: 1210px;
  margin: 0 auto;
  padding: 20px 0;
}

.site-logo-search-cart .logo,
.site-logo-search-cart .search,
.site-logo-search-cart .cart{
  float: left;

}

.site-logo-search-cart .logo>img{
  width: 270px;
  height: 60px;
  vertical-align: top;
}

/**search button recommendWords**/

.site-logo-search-cart .search{
   margin-left: 100px;
   margin-top: 4px;
 } 
.site-logo-search-cart .search>.siteSearch{
  font-size: 16px;
}
.site-logo-search-cart .search>.siteSearch input{
  width: 456px;
  height: 34px;
  padding: 0 3px;
  font: inherit;
  border: 2px solid #B61D1D;
  box-sizing: border-box;
}
.site-logo-search-cart .search>.siteSearch input:focus{
  outline: none;
}
.site-logo-search-cart .search>.siteSearch>button{
  height: 34px;
  width: 82px;
  color: #fff;
  font: inherit;
  background: #B61D1D;
  border: none;
}
.site-logo-search-cart .search>.recommendWords{
  margin-top: 4px;
}
.site-logo-search-cart .search>.recommendWords>a{
  /* display: inline-block; */
  padding-right: 0.6em;
}
.site-logo-search-cart .search>.recommendWords>a.hot{
  color: #C81623;
}
.site-logo-search-cart .search>.recommendWords>a:hover{
  color: #C81623;
}
.site-logo-search-cart .cart{
  margin-top: 4px;
  margin-left: 100px; 
}


/*shopping-cart button collect*/

.site-logo-search-cart .cart>.siteCartButton{
  box-sizing:border-box;
  line-height: 32px;
  padding: 0 36px;
  font-size: 12px;
  color: #666;
  background: #F9F9F9;
  border: 1px solid #ddd;
  position: relative;
}
.site-logo-search-cart .cart>.siteCartButton>i{
  position: absolute;
  vertical-align: middle;
}
.site-logo-search-cart .cart>.siteCartButton>i.prefix{
  color: #C81623;
  left: 14px;
}
.site-logo-search-cart .cart>.siteCartButton>i.addon{
  right: 5px;
}
.site-logo-search-cart .cart>.siteCartButton>i.count{
  width: 12px;
  height: 12px;
  border-radius: 7px 7px 7px 0px;
  background: #C81623;
  color: #fff;
  line-height: 12px;
  padding: 1px 2px;
  text-align: center;
  font-style: normal;
  top: -4px;
  right: 18px;
}

.site-logo-search-cart .cart{
  position: relative;
}
.site-logo-search-cart .cart>.collect{
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 3;
}

.site-logo-search-cart .cart>.collect>ul{
  display: none;
  width: 300px;
  padding: 0 10px 10px 10px;
  box-shadow: 0 0 3px rgba(0,0,0,0.25);
  background: #fff;
  box-sizing: border-box;
}
 .site-logo-search-cart .cart:hover .collect>ul{
  display: block;
} 
.site-logo-search-cart .cart>.collect>ul>p.collectTitle{
  font: inherit;
  font-weight: bold;
  height: 30px;
  line-height: 30px;
}
.site-logo-search-cart .cart>.collect>ul>li{
  background: #bffab1;
  padding: 3px 5px;
  margin: 2px 0;
}
.site-logo-search-cart .cart:hover .siteCartButton{
  background: #fff;
  border: 1px solid transparent;
  box-shadow: 0 0 3px rgba(0,0,0,0.25);

}
.site-logo-search-cart .cart>.collect>.space{
    background: #fff;
    position: absolute;
    width: 132px;
    height: 8px;
    overflow: hidden;
 }

/*categorys*/
.categorys-wrapper{
  border-bottom: 2px solid #B1191A
}
.categorys-wrapper .categorys{
  margin: 0 auto;
  width: 1210px;
  line-height: 44px;
}
.categorys-wrapper .allCategory{
  float: left;
  padding: 0 10px;
  width: 190px;
  color: #fff;
  font-size: 15px;
  font-family: "microsoft yahei";
  background: #B1191A;
}
.categorys-wrapper .categoryList>a{
  display: inline-block;
  vertical-align: middle;
  margin: 0 20px;
  color: #333;
  font: 400 16px "microsoft yahei";
}

.list-slides-news-service{
  margin: 0 auto;
  width: 1210px;
}

/**menu**/
.list-slides-news-service>.productCategoryList{
	float: left;
}
.list-slides-news-service>.productCategoryList>ul.menu{
  width: 210px;
  background: #b61d1d;
  color: #fff;
}
.list-slides-news-service>.productCategoryList>ul.menu>li{
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  padding-left: 9px;
  border-left: 1px solid #b61d1d;
  border-bottom: 1px solid #b61d1d;
  position: relative;
  z-index: 1;
}
.list-slides-news-service>.productCategoryList>ul.menu>li:hover{
  background: #fff;
  color: #C81623;
}
.list-slides-news-service>.productCategoryList>ul.menu>li:after{
  content:'\e604';
  font-family: 'jd-iconfont';
  position: absolute;
  right: 5px;  
}
.list-slides-news-service>.productCategoryList>ul.menu>li:hover:after{
  display: none;
}

/**submenu**/
.productCategoryList{
  position: relative;
}
.list-slides-news-service>.productCategoryList ul.submenu{
  position: absolute;
  top: 0;
  left: 210px; 
  z-index: 2;
}

.list-slides-news-service>.productCategoryList>.submenu>li{
  width: 700px;
  background: #f9f9f9;
  padding: 10px;
  height: 500px;
  color: #333;
}

.list-slides-news-service>.productCategoryList>.submenu>li{
  display: none;
}

.list-slides-news-service>.productCategoryList>.submenu>li.active{
  display: block;
}

/*plug*/
.artSlides{
  float: left;
  margin-top: 12px;
  margin-left: 10px; 
  width: 730px;
  height: 454px;
  position: relative;
  z-index: 1;
}
.artSlides .slidesjs-pagination{
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 10px;
  text-align: center;
  z-index: 10;
}
.artSlides .slidesjs-pagination>li{
  display: inline-block;
  margin: 0 0.3em;
  text-align: center; 
}
.artSlides .slidesjs-pagination>li>a{
  display: block;
  width: 18px;
  height: 18px;
  line-height: 18px;
  border-radius: 50%;
  color: #fff;
  background: #3E3E3E;
  text-align: center;
}
.artSlides .slidesjs-pagination>li>a.active{
  background: #b61b1f;
}
/*aside*/
.list-slides-news-service aside{
  float: right;
  margin-right: -5px;
  margin-top: 12px;
}
.list-slides-news-service aside>.news{
  border: 1px solid #ddd;
  width: 248px;
}
.list-slides-news-service aside>.news>.newTilte{
  height: 32px;
  line-height: 32px;
  padding: 0 15px;
  border-bottom: 1px  dotted #E8E8E7;
}
.list-slides-news-service aside>.news>.newTilte>h4{
  font-family: "microsoft yahei";
  font-weight: 400;
  font-size: 16px;
  float: left;
}
.list-slides-news-service aside>.news>.newTilte>.more{
  float: right;
}
.list-slides-news-service aside>.news>.newTilte>.more>a>i{
  font-size: 12px;
  padding-left: 2px;
}
.list-slides-news-service aside>.news>.newTilte>.more>a:hover{
  color: #C81623;
}
.list-slides-news-service aside>.news>ul.notice{
  padding: 5px 15px;
}
.list-slides-news-service aside>.news>ul.notice>li{
  height: 24px;
  line-height: 24px;
}
.list-slides-news-service aside>.news>ul.notice>li.hot{
  color: #C81623;
  font-weight: bold;
}
.list-slides-news-service aside>.service{
  width: 255px;
  overflow: hidden;
}
.list-slides-news-service aside>.service>ul.tabs{
  border-left: 1px solid #E8E8E7;
}
.list-slides-news-service aside>.service>.tabs>li.tab-button{
  width: 63px;
  float: left;
  border-right: 1px solid #E8E8E7;
  border-bottom: 1px solid #E8E8E7;
  overflow: hidden;
  box-sizing: border-box;
}
.list-slides-news-service aside>.service>.tabs>li.tab-button>i{
  height: 25px;
  line-height: 25px;
  width: 25px;
  color: #C81623;
  font-size: 25px;
  padding: 15px 19px 4px 19px;
  display: inline-block;
}
.list-slides-news-service aside>.service>.tabs>li.tab-button>p{
  padding: 3px 0 3px 0;
  text-align: center;
  color: #666;
}
.list-slides-news-service aside>section img{
  padding-top: 6px;
  vertical-align: top;
}