/* reset */
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
input,
p {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

input {
	outline: none;
	border: none;
}

a {
	text-decoration: none;
}

.clearfix::after {
	content: '';
	display: block;
	clear: both;
}

/* reset end */

/* public */
#main .text,
#main .pwd,
#main .remember,
#main .forget {
	margin-bottom: 24px;
}

#header .change-color,
#main .text > input[type="text"],
#main .login > input[type="button"],
#main .remember > .description,
#main .forget > a {
	font-weight: bold;
}

.login-container,
#main .text > input[type="text"],
#main .pwd > input[type="password"],
#main .remember > .icon,
#main .login,
#main .login > input[type="button"] {
	border-radius: 3px;
}

#main .text > input[type="text"],
#main .pwd > input[type="password"] {
	width: 100%;
	padding: 12px;
	padding-left: 44px;
	background: no-repeat 12px;
	background-size: 20px;
	box-sizing: border-box;
	box-shadow: 0 1px 1px #fff, inset 0 1px 3px #aaaaaa;
}
/* public end */
body {
	display: flex;
	justify-content: center;
	background-image: url(bg.png);
	font: 13px sans-serif;
}

#header {
	margin-top: 128px;
	margin-bottom: 29px;
	text-align: center;
	color: #625e5b;
}

#header > h1 {
	font-weight: normal;
	font-family: monospace;
}

#header .change-color {
	font-family: 'STXingkai';
}

/* 登陆框 */
.login-container {
	width: 308px;
	margin: 0 auto;
	border: 1px solid #f3feef;
	padding: 29px;
	background-color: #e4e0dc;
	box-sizing: border-box;
	box-shadow: 0 2px 5px 1px #a9a39e;
}

#main .text > input[type="text"] {
	border: 1px solid #cbbcb7;
	background-image: url(user.png);
	background-color: #e1dcd8;
	color: #988e87;
}

#main .pwd > input[type="password"] {
	border: 1px solid #bbb5b1;
	background-image: url(password.png);
	background-color: #f5f2ef;
}

#main #checkbox {
	width: 20px;
	height: 20px;
	visibility: hidden;
	vertical-align: middle;
}

#main .remember {
	position: relative;
}

#main .remember > .icon {
	position: absolute;
	left: 0;
	width: 18px;
	height: 18px;
	border: 1px solid #fff;
	background-color: #f5f2ef;
	box-shadow: 0 0 5px 1px #bebab7;
	cursor: pointer;
}

#main .remember > .icon::after {
	position: absolute;
	top: 1px;
	left: 5px;
	content: '';
	width: 5px;
	height: 10px;
	border: 3px solid #74884a;
	border-top: none;
	border-left: none;
	transform: rotate(45deg);
	opacity: 0.2;
	filter:alpha(opacity=20);
}

#main .remember > input:checked + .icon::after {
	opacity: 1;
	filter:alpha(opacity=100);
}

#main .remember > .description {
	margin-left: 10px;
	color: #625e5b;
}

#main .forget > a {
	color: #988e87;
}

#main .login {
	border: 1px solid #4a503c;
}

#main .login > input[type="button"] {
	width: 100%;
	height: 36px;
	border: 1px solid #73854e;
	border-top-color: #cad7a6;
	background-color: #7b9348;
	color: #fff;
	background-image: -webkit-linear-gradient(to bottom, #99ae69, #667c3a);
	background-image: -moz-linear-gradient(to bottom, #99ae69, #667c3a);
	background-image: -o-linear-gradient(to bottom, #99ae69, #667c3a);
	background-image: linear-gradient(to bottom, #99ae69, #667c3a);
	box-shadow: 0 0 5px 1px #9e9c99;	
	cursor: pointer;
}

#main .login > input[type="button"]:active {
	background-image: -webkit-linear-gradient(to top, #99ae69, #667c3a);
	background-image: -moz-linear-gradient(to top, #99ae69, #667c3a);
	background-image: -o-linear-gradient(to top, #99ae69, #667c3a);
	background-image: linear-gradient(to top, #99ae69, #667c3a);
}

#footer {
	margin-top: 34px;
}

#footer  a {
	display: inline-block;
	height: 14px;
	color: #988e87;
	border-bottom: 2px solid #c4bdb7;
}

#footer > p {
	margin-bottom: 10px;
}

#footer > .links {
	margin-left: 20px;
}

.links > li {
	float: left;
}

.links .split {
	margin: 0 7px;
}