@charset "UTF-8";

body {
	color: #000;
	font: 15px/1.5 'Helvetica Neue', Helvetica, Arial, sans-serif;
	background: url(../images/bg1.jpg) #f2f2f2;
}
#siteHeader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 60px;
	line-height: 60px;
	z-index: 100;
	background-color: rgba(0, 0, 0, .2);
}
#siteHeader a {
	position: relative;
	display: block;
	color: #666;
	font-size: 13px;
	transition: color 200ms ease-in-out;
}
#siteHeader a:hover {
	color: #000;
}
#siteHeader a:hover::after {
	opacity: 1;
	left: 0;
	right: 0;
}
#siteHeader a::after {
	content: '';
	position: absolute;
	left: 50%;
	right: 50%;
	bottom: 0;
	height: 2px;
	opacity: 0;
	background-color: #000;
	transition: all 200ms ease-in-out;
}
#siteHeader .back {
	margin-left: 20px;
}
#siteHeader nav {
	margin-right: 60px;
}
#siteHeader nav li {
	float: left;
	margin: 0 20px;
}
#siteHeader > .btn {
	position: fixed;
	right: 10px;
	bottom: 10px;
	display: none;
	width: 50px;
	height: 50px;
	border: none;
	border-radius: 50%;
	cursor: pointer;
	background: #000;
	background: rgba(0, 0, 0, .4);
	color: #fff;
	outline: none;
	
}
#main {
	margin: 100px auto 0;
	padding: 0 15px;
}
#main-content {
	display: table;
	width: 100%;
	box-sizing: border-box;
}
#main-content .right {
	display: table-cell;
}
#main-content .left {
	display: table-cell;
	width: 270px;
	padding-right: 15px;
}
#main-content, .main-content .job-wish, #main-content .contact {
	margin-top: 15px;
}
#main-content .my-info, #main-content .job-wish, #main-content .contact, #main-content .about, #main-content .learn {
	background-color: #fff;
	border: 1px dashed #666;
	border-radius: 5px;
	margin-bottom: 15px;
	padding: 20px;
}
#main-content h2 {
	color: #4cc1aa;
}
#main-content .left dl {
	margin: 15px 0;
}
#main-content .left dd {
	border-bottom: 1px dashed #e4e4e4;
	padding: 10px 0;
	font-size: 16px;
}
#main-content .about {
	border-radius: 5px;
	white-space: nowrap;
}
#main-content .about-info {
	color: #000;
}
#main-content .about-info > li, #main-content .learn-info > li {
	margin: 10px;
}
#main-content . h2 {
	margin-bottom: 20px;
}
