html,body{width: 100%;overflow: hidden;height: 100%;} 
input{outline:none}
body{font-family:'Helvetica';font-size: 12px; color:#333;position:relative;background: #fff;}
a{color:#666;cursor:pointer;}
a:hover{color:#950000;text-decoration:none;}
img{vertical-align: middle;}
.img-responsive{display: block;width: 100%;max-width: 100%;}
*{-webkit-box-sizing:border-box;box-sizing:border-box;}
.header,.wrap-page{position:absolute;left:0;right:0}
.wrap-page{top:46px;bottom:0px;overflow-y:auto;-webkit-overflow-scrolling:touch;}
/*header*/
.header{height:46px;background-color:#D31223;z-index:2;line-height:46px}
.header{top:0;}
.hc{width: 27%;position: absolute;top:0;bottom: 0;}
.head_l{left: 0;}
.head_r{right: 0;text-align: right;}
.head_m{width: 46%;margin: 0 27%;text-align: center;line-height: 46px;background-color: #d80f22;box-shadow:1px 0 2px rgba(0,0,0,.3); }
.btn_m,.btn_s{display: inline-block; width: 46px;height: 46px;background:url(../images/m.png) no-repeat center center;}
.btn_s{background-image:url(../images/s.png);}
.back{display: inline-block; width: 46px;height: 46px;background: url(../images/back.png) no-repeat center center;margin-left: 5px;}
/*header end*/
/*banner*/
.swiper-container {margin:0px 0;}
.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}
.swiper-slide img{width: 100%;}
.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet{margin: 0 3px;}
.swiper-pagination-bullet{background: #fff;opacity: 1;}
.swiper-pagination-bullet-active{background-color: #c51c09;}
.swiper-button-prev,.swiper-button-next{background-color: rgba(0,0,0,.6);width: 42px;height: 74px;display: inline-block;margin-top: -37px;}

.mList{background: #D31223;}
.item{position: relative;}
.mList li{position: relative;}
.mList li .item{height: 100%;}
.infor{position: absolute;left: 0;right: 0;bottom: 0;top:0;background: rgba(0,0,0,.5);color: #fff;font-size: 25px;text-align: center;z-index: 2;}
.infor span,.vm{top: 50%;left: 50%; position: absolute;-webkit-transform: translate(-50%, -50%);transform:translate(-50%, -50%);color: #fff;font-size: 25px;}
.item_dw{position: absolute;top:0;bottom: 0;}
.mli_a .item{width: 50%;float: right;}
.mli_b .item{width: 66.6%;float: left;}
.mli_c .item{width: 60.6%;float: right;}
.mli_a .item_dw{left: 0;width: 50%;}
.mli_b .item_dw{right: 0;width:33.5%; }
.mli_c .item_dw{left: 0;width:39.4%; }
.m_icon{display: inline-block;padding: 10px 0;}

/*content*/
.content{padding:10px 10px 0 10px;}
.nList li{position: relative;margin-bottom: 10px;overflow: hidden;}
.infor1{top:auto;bottom: 0;font-size: 16px;background: rgba(255,255,255,.58);color: #000;padding: 8px 10px;text-align: left;white-space: nowrap;overflow: hidden;text-overflow:ellipsis;}
.subNav{background: #D31223;padding: 5px;text-align: center;}
.subNav a{display: inline-block;padding: 5px;color: #fff;}
.subNav a:hover,.subNav a.active{background:#f60;}
.shopList li .infor{background: none;}
.shopList li .infor span{font-size: 43px;text-shadow:0 0 3px rgba(0,0,0,.8);}
.skBox{color: #595757;font-size: 14px;line-height: 20px;}
.cTit{font-size: 18px;margin-bottom: 5px;}
.skBox p{padding: 8px 0; text-indent: 2em;}
.yshi h4{font-weight: normal;padding-bottom: 5px;}
.yshi li{position: relative; overflow: hidden;background: #f00;color: #fff;padding:15px 10px 10px;margin-bottom: 10px;min-height: 95px;padding-left: 115px;}
.yshi li img{position: absolute;left: 10px;top:20px;}
.yshi li h3{font-weight: normal;font-size: 16px;}
.foodPic{overflow: hidden;position: relative;}

.fimg{overflow: hidden;}
.foodPic .infor{top:auto;bottom: 0;overflow: hidden;text-align: left;height: 46px;line-height: 46px;font-size: 18px;padding: 0 25px;}
.usBox .cTit{margin-bottom: 15px;}
.usBox .cTit p{font-size: 14px;position: relative;top:-5px;}
.zpList li{margin-bottom: 15px;background: #f00;color: #fff;text-align: center;padding: 20px 10px;}
.zpList li a span{display: inline-block;margin-left: 5px; font-size: 32px;color: #fff;}
.subNav1{overflow: hidden;}
.subNav1 a{width: 33.333%;float: left;}
.subNav2 a{width: 25%%;float: left;}
/*footer*/
.footer{padding: 5px 0;color: #fff;background-color: #D31223;color: #fff;text-align: center;box-shadow: 0 0 2px rgba(0,0,0,.7);line-height: 20px;}
.footer a{color: #fff; display: inline-block;margin: 0 6px;}
.wrap-page-content .footer{color: #c51c09;background: #fff;box-shadow: none;}
.wrap-page-content .footer a{color: #c51c09;}
/*footer end*/

/*侧边栏菜单*/
.sideBar{position: absolute;top:0;right: 0;left: 0;bottom: 0;z-index: -1;background:rgba(0,0,0,.8);color: #fff;
	-webkit-transition: all .7s ease-out;
	transition:all .7s ease-out;
	-webkit-transform: translate3d(0,-100%,0);
	transform: translate3d(0,-100%,0);
}
.close{position: absolute;right: 10px;top:10px;background: url(../images/close.png) no-repeat center center;width: 29px;height: 29px;}
.sMenu{width: 88%;margin: 0 auto;}
.sMenu li a{color: #fff;display: block;}
.sMenu li .sTit{border-bottom: 1px solid #fff;height: 43px;line-height: 43px;padding: 0 10px;}
.sMenu li .sTit a{display: block;font-size: 18px;padding-left: 40%;}
/*.sMenu li.sItem .sTit a{background:url(../images/a_r.png) no-repeat right;}*/
.sMenu li .sInfor{display: none;-webkit-transition: all 400ms;transition:all 400ms;}
.sMenu li .sInfor a{padding-left: 40%; color: #fff;border-bottom: 1px solid #808080;height: 33px;line-height: 33px;font-size: 12px;}
.sMenu li.cur .sInfor{display: block;}
.sMenu li.cur .sTit{border-bottom-color: transparent;}
.sMenu li.cur .sTit a{background-image: url(../images/down.png);color: #d32727;}
.sMenu li{
	opacity: 0;
	-webkit-transform: scaleX(0);
	-ms-transform: scaleX(0);
	transform: scaleX(0);
	/*-webkit-transition: all .5s ease-out .3s;
	-ms-transition: all .5s ease-out .3s;
	transition: all .5s ease-out .3s;*/
}
body.show .sideBar{
	-webkit-transform: translate3d(0%,0,0);
	transform: translate3d(0%,0,0);
	z-index: 300;
}
body.show .sMenu li{
	opacity: 1;
	-webkit-transform: scaleX(1);
	-ms-transform: scaleX(1);
	transform: scaleX(1);
}
@media screen and (min-width: 0) and (max-width: 319px){
	.infor span,.vm{font-size: 20px;}
}
.vm{
	top: 50%;
	left: 50%; 
	position: absolute;
	-webkit-transform: translate(-50%, -50%);
	transform:translate(-50%, -50%);
}
.trend{
	-webkit-animation: scaleUpDown 5s forwards  infinite alternate; 
	animation: scaleUpDown 5s forwards  infinite alternate;
}
@-webkit-keyframes scaleUpDown {
  from{ -webkit-transform: scale(1); transform: scale(1);}
  to { opacity: 1;  -webkit-transform: scale(1.15); transform: scale(1.15); }
}
@keyframes scaleUpDown {
  from{ -webkit-transform: scale(1); transform: scale(1);}
  to { opacity: 1;  -webkit-transform: scale(1.15); transform: scale(1.15); }
}


