*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	font: 12px/150% Arial,Verdana,"\5b8b\4f53";
	-webkit-font-smoothing: antialiased;
}
.clearfix:after{
	content: '';
	display: block;
	clear: both;
}


